# Alpaca

Registrarse:


https://alpaca.markets/

Documentacion:


https://alpaca.markets/docs/

In [2]:
import requests

In [3]:
api_key = "PKKY3DL15QNUTMRLYSZQ"
secret_key = "eVt4cpZJ7Nx9YYGogBeoEullqj4F5wDeymGiMU2Q"

In [4]:
def getAccount():    
    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    endpoint = "https://paper-api.alpaca.markets/v2/account"
    
    r = requests.get(url = endpoint, headers = headers)
    
    js = r.json()
    return js

Veamos entonces lo que nos devuelve:

In [5]:
cuenta  = getAccount()

cuenta.get('cash')

'100000'

In [6]:
cuenta

{'id': 'e67a2dfa-e62f-4e83-ab77-52d722540ca7',
 'account_number': 'PA2DF71ZL4MX',
 'status': 'ACTIVE',
 'currency': 'USD',
 'buying_power': '400000',
 'regt_buying_power': '200000',
 'daytrading_buying_power': '400000',
 'cash': '100000',
 'portfolio_value': '100000',
 'pattern_day_trader': False,
 'trading_blocked': False,
 'transfers_blocked': False,
 'account_blocked': False,
 'created_at': '2020-10-09T17:10:17.590294Z',
 'trade_suspended_by_user': False,
 'multiplier': '4',
 'shorting_enabled': True,
 'equity': '100000',
 'last_equity': '100000',
 'long_market_value': '0',
 'short_market_value': '0',
 'initial_margin': '0',
 'maintenance_margin': '0',
 'last_maintenance_margin': '0',
 'sma': '0',
 'daytrade_count': 0}

## MarketData

Vamos a ver como pedimos marketData con esta API, empecemos por la data histórica, le vamos a tener que pasar dos parámetros a la API:
   * TimeFrame
       * 1Min
       * 5Min
       * 15Min
       * 1D (day)
   * Symbolo/Simbolos

In [7]:
import pandas as pd

def getHistory(symbol, timeframe='1D'): 
    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    params =  {'symbols' : symbol}
    endpoint = "https://data.alpaca.markets/v1/bars/"+timeframe
    
    r = requests.get(url = endpoint, headers =headers, params=params)
    js = r.json()
    
    df = pd.DataFrame(js[symbol])
    df.t = pd.to_datetime(df.t, unit='s')
    return df

data = getHistory("AAPL")
data.round(2)

                     t       o       h       l       c          v
0  2020-05-20 04:00:00  316.68  319.52  316.20  319.16   49657449
1  2020-05-21 04:00:00  318.66  320.89  315.87  317.04   46099960
2  2020-05-22 04:00:00  315.77  319.23  315.35  318.89   37592751
3  2020-05-26 04:00:00  323.50  324.24  316.50  316.84   27609402
4  2020-05-27 04:00:00  316.14  318.71  313.09  318.08   24944652
..                 ...     ...     ...     ...     ...        ...
95 2020-10-05 04:00:00  113.92  116.65  113.55  116.54   93972780
96 2020-10-06 04:00:00  115.70  116.12  112.25  113.16  142211773
97 2020-10-07 04:00:00  114.62  115.51  114.13  115.05   84487218
98 2020-10-08 04:00:00  116.27  116.40  114.59  114.97   74552335
99 2020-10-09 04:00:00  115.28  116.63  114.92  116.60   52736536

[100 rows x 6 columns]

In [8]:
import datetime as dt

#definimos una fecha como el 20 de Junio de 2020, a las 12:15hs 
fecha = dt.datetime(2020,6,20,12,15,0)

fecha

datetime.datetime(2020, 6, 20, 12, 15)

In [9]:
fechaSRT = dt.datetime.strftime(fecha, format='%Y-%m-%dT%T-03:00')
fechaSRT

'2020-06-20T12:15:00-03:00'

In [10]:
import pandas as pd

def getHistory(symbol, start, end, timeframe='1D'):    
    
    start = dt.datetime.strftime(start, format='%Y-%m-%dT%T-04:00')
    end = dt.datetime.strftime(end, format='%Y-%m-%dT%T-04:00')

    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    
    params =  {'symbols' : symbol, 'start':start, 'end':end}
    
    endpoint =  "https://data.alpaca.markets/v1/bars/"+timeframe
    r = requests.get(url = endpoint, headers =headers, params=params)
    js = r.json()
    df = pd.DataFrame(js[symbol])
    df.t = pd.to_datetime(df.t, unit='s')
    return df

In [11]:
start = dt.datetime(2012,1,1,0,0,0)
end = dt.datetime(2020,7,10,0,0,0)

getHistory('AAPL', start, end, timeframe='5Min')

                         t        o       h        l        c       v
0      2015-01-02 13:05:00  111.080  111.08  111.080  111.080     100
1      2015-01-02 13:45:00  111.280  111.34  111.280  111.340     200
2      2015-01-02 14:20:00  111.420  111.42  111.420  111.420     100
3      2015-01-02 14:30:00  111.400  111.40  111.040  111.050   15209
4      2015-01-02 14:35:00  111.090  111.34  110.780  110.790   12606
...                    ...      ...     ...      ...      ...     ...
113644 2020-07-09 19:35:00  380.740  381.64  380.200  381.480   10176
113645 2020-07-09 19:40:00  381.480  381.95  381.020  381.865    6892
113646 2020-07-09 19:45:00  381.865  383.07  381.865  382.490   12110
113647 2020-07-09 19:50:00  382.400  383.24  382.195  382.950   14077
113648 2020-07-09 19:55:00  382.970  383.20  382.380  382.890  166295

[113649 rows x 6 columns]

## Bacth requests  (200 tickers x request)

### Breve repaso de funciones basicas (split, join)

In [12]:
tickers = 'AAPL,MSFT'
tickers = tickers.split(",")
tickers

['AAPL', 'MSFT']

In [13]:
lista = ['GGAL','AAPL','AMZN']
','.join(lista)

'GGAL,AAPL,AMZN'

In [14]:
import pandas as pd

def getHistory(symbol, start, end, timeframe='1D'):    
    
    start = dt.datetime.strftime(start, format='%Y-%m-%dT%T-04:00')
    end = dt.datetime.strftime(end, format='%Y-%m-%dT%T-04:00')

    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    params =  {'symbols' : symbol, 'start':start, 'end':end}
    endpoint = "https://data.alpaca.markets/v1/bars/"+timeframe
    
    r = requests.get(url = endpoint, headers =headers, params=params)
    
    js = r.json()
    
    tickers = symbol.split(",")
    dfs = {}
    for ticker in tickers:
        dfs[ticker] = pd.DataFrame(js[ticker])
        dfs[ticker].t = pd.to_datetime(dfs[ticker].t, unit='s')
    return dfs

Lo que tengo: variable que es un diccionario, se llama js
{
    'ticker_1' : [{dia_1},{dia_2}.... {dia_n}],
    'ticker_2' : [{dia_1},{dia_2}.... {dia_n}],
    ....
    
    'ticker_n' : [{dia_1},{dia_2}.... {dia_n}]    
}


Lo que necesito: un diccionario se llama dfs
{
    'ticker_1' : df,
    'ticker_2' : df,
    ....
    
    'ticker_n' : df   
}

In [15]:
start = dt.datetime(2020,7,1,0,0,0)
end = dt.datetime(2020,10,1,0,0,0)
dfs = getHistory('AAPL,MSFT', start, end, timeframe='day')
dfs['AAPL']

                     t       o       h       l       c          v
0  2020-07-01 04:00:00  365.12  367.36  363.91  364.01   25429807
1  2020-07-02 04:00:00  367.85  370.47  363.65  364.12   25332853
2  2020-07-06 04:00:00  370.00  375.78  369.87  373.81   26084791
3  2020-07-07 04:00:00  375.41  378.62  372.23  372.64   24610596
4  2020-07-08 04:00:00  376.72  381.50  376.36  381.44   26025692
..                 ...     ...     ...     ...     ...        ...
60 2020-09-25 04:00:00  108.43  112.44  107.67  112.28  137542199
61 2020-09-28 04:00:00  114.98  115.32  112.78  115.00  119572328
62 2020-09-29 04:00:00  114.55  115.31  113.57  114.11   89264463
63 2020-09-30 04:00:00  113.77  117.25  113.62  115.61  115978209
64 2020-10-01 04:00:00  117.64  117.72  115.83  116.80   97603139

[65 rows x 6 columns]

In [16]:
dfs['AAPL']

                     t       o       h       l       c          v
0  2020-07-01 04:00:00  365.12  367.36  363.91  364.01   25429807
1  2020-07-02 04:00:00  367.85  370.47  363.65  364.12   25332853
2  2020-07-06 04:00:00  370.00  375.78  369.87  373.81   26084791
3  2020-07-07 04:00:00  375.41  378.62  372.23  372.64   24610596
4  2020-07-08 04:00:00  376.72  381.50  376.36  381.44   26025692
..                 ...     ...     ...     ...     ...        ...
60 2020-09-25 04:00:00  108.43  112.44  107.67  112.28  137542199
61 2020-09-28 04:00:00  114.98  115.32  112.78  115.00  119572328
62 2020-09-29 04:00:00  114.55  115.31  113.57  114.11   89264463
63 2020-09-30 04:00:00  113.77  117.25  113.62  115.61  115978209
64 2020-10-01 04:00:00  117.64  117.72  115.83  116.80   97603139

[65 rows x 6 columns]

In [17]:
dfs.get('AAPL')

                     t       o       h       l       c          v
0  2020-07-01 04:00:00  365.12  367.36  363.91  364.01   25429807
1  2020-07-02 04:00:00  367.85  370.47  363.65  364.12   25332853
2  2020-07-06 04:00:00  370.00  375.78  369.87  373.81   26084791
3  2020-07-07 04:00:00  375.41  378.62  372.23  372.64   24610596
4  2020-07-08 04:00:00  376.72  381.50  376.36  381.44   26025692
..                 ...     ...     ...     ...     ...        ...
60 2020-09-25 04:00:00  108.43  112.44  107.67  112.28  137542199
61 2020-09-28 04:00:00  114.98  115.32  112.78  115.00  119572328
62 2020-09-29 04:00:00  114.55  115.31  113.57  114.11   89264463
63 2020-09-30 04:00:00  113.77  117.25  113.62  115.61  115978209
64 2020-10-01 04:00:00  117.64  117.72  115.83  116.80   97603139

[65 rows x 6 columns]

## Ultimo Trade de un ticker

In [18]:
def lastTade(symbol):    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    endpoint = "https://data.alpaca.markets/v1/last/stocks/"+symbol
    r = requests.get(url = endpoint, headers = headers)
    js = r.json()['last']
    
    js['timestamp'] = pd.to_datetime(js['timestamp'])
    return js
    
lastTade("AAPL")

{'price': 116.585,
 'size': 100,
 'exchange': 3,
 'cond1': 0,
 'cond2': 0,
 'cond3': 0,
 'cond4': 0,
 'timestamp': Timestamp('2020-10-09 17:11:06.889000')}

## Ultimo dato del libro

In [19]:
import pandas as pd

def lastQuote(symbol):    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    endpoint = "https://data.alpaca.markets/v1/last_quote/stocks/"+symbol
    r = requests.get(url = endpoint, headers = headers)
    js = r.json()['last']
    js['timestamp'] = pd.to_datetime(js['timestamp'])
    return js
    
lastQuote("AAPL")

{'askprice': 116.6,
 'asksize': 5,
 'askexchange': 15,
 'bidprice': 116.59,
 'bidsize': 15,
 'bidexchange': 15,
 'timestamp': Timestamp('2020-10-09 17:11:13.354000')}

# Ruteo de ordenes, primeros pasos de un bot

## Orden de Compra/Venta  (POST)

In [20]:
def order(symbol, qty, side, tipo, time_in_force, limit_price ):    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    params = {'symbol':symbol, 
              'qty':qty, 
              'side':side, 
              'type':tipo,
              'time_in_force':time_in_force,
              'limit_price':limit_price, 
              'order_class':'simple'}
    
    r = requests.post(url = "https://paper-api.alpaca.markets/v2/orders", 
                      headers = headers, json = params)
    
    js = r.json()
    return js

In [21]:
lastQuote("GGAL")

{'askprice': 7.49,
 'asksize': 7,
 'askexchange': 17,
 'bidprice': 7.34,
 'bidsize': 7,
 'bidexchange': 17,
 'timestamp': Timestamp('2020-09-28 14:08:05.574000')}

In [22]:
lastTade("GGAL")

{'price': 7.01,
 'size': 500,
 'exchange': 15,
 'cond1': 0,
 'cond2': 0,
 'cond3': 0,
 'cond4': 0,
 'timestamp': Timestamp('2020-10-09 17:09:57.547000')}

In [ ]:
px  = lastQuote("AAPL")['askprice']*0.999

orden = order(symbol='AAPL', qty=1, side='sell', tipo='limit', time_in_force='gtc',limit_price = px )
orden

¿Y si quiero mandar 50 ordenes con un par de lineas con esa lógica tapando la punta vigente?

In [ ]:
tickers = ['PAM', 'BBAR', 'TGS', 'CRESY', 'MELI']

for ticker in tickers:
    px  = lastQuote(ticker)['bidprice'] * 1.001
    orden = order(symbol=ticker, qty=1, side='buy', tipo='limit', time_in_force='gtc',limit_price = px )
    print(px, ticker)

## Consulta de estado general

In [23]:
def orders(status="all", limit=50): 
    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    params = {'status':status, 
              'limit':limit}
    
    r = requests.get(url = "https://paper-api.alpaca.markets/v2/orders", 
                      headers = headers, json = params)

    js = r.json()
    df = pd.DataFrame(js)
    return df

listaOrdenes = orders()
listaOrdenes

Empty DataFrame
Columns: []
Index: []

## Consulta puntual  (GET)

In [ ]:
def getOrder(orderID):    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    r = requests.get(url = "https://paper-api.alpaca.markets/v2/orders/"+orderID, 
                      headers = headers)
    
    js = r.json()
    return js

getOrder('af32ee97-d23a-4db8-aad7-df411e4b21fe')

## Modificación de orden  (PATCH)

In [ ]:
def replaceOrder(order_id, qty=None, time_in_force=None, limit_price=None):    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    params = {'qty':qty, 
              'time_in_force':time_in_force,
              'limit_price':limit_price}
    
    endpoint = "https://paper-api.alpaca.markets/v2/orders/"+order_id
    r = requests.patch(url = endpoint, headers = headers, json = params)
    
    js = r.json()
    return js

In [ ]:
replaceOrder(order_id='c3689e60-231a-4b63-9bfc-2385f98b0dfe', limit_price = 5.34)

La salida nos devuelve la orden remplazada

## Eliminar orden (DELETE)

Obviamente nos faltaba poder cancelar una orden por ID, esta es la mas sencilla de todas, solo hay que pasarle el ID y el método de request que usamos es DELETE

In [ ]:
def cancelOrder(order_id):    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    endpoint = "https://paper-api.alpaca.markets/v2/orders/"+order_id
    r = requests.delete(url = endpoint,headers = headers)

In [ ]:
cancelOrder('c3689e60-231a-4b63-9bfc-2385f98b0dfe')

## Ver Posiciones Abiertas de la cuenta

In [ ]:
def positions():    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    endpoint = "https://paper-api.alpaca.markets/v2/positions"
    r = requests.get(url = endpoint, headers = headers)
    js = r.json()
    return js
    
positions()

In [ ]:
df = pd.DataFrame(positions())

df = df.loc[:,['symbol','qty','side','avg_entry_price','market_value',
               'cost_basis','unrealized_pl','current_price','lastday_price']]
df

# Screener

## Listado de acitivos

In [24]:
def assets():    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    r = requests.get(url = "https://paper-api.alpaca.markets/v2/assets", 
                      headers = headers)

    js = r.json()
    df = pd.DataFrame(js)
    df = df.loc[df.status=='active'].drop(['status','class','easy_to_borrow',
                                          'tradable','marginable'], axis=1)
    return df
activos = assets()

In [25]:
activos

,id,exchange,symbol,name,shortable
0,210c962e-3846-4468-bb99-67905302a7dd,NYSE,MTZ,"MasTec, Inc.",True
2,10f7d07f-0811-42bf-a780-b4d4cb53eb91,NYSE,SPGI,S&P Global Inc.,True
5,fe3f7d4c-cb53-4767-ad24-61520d0529f1,NYSE,AN,"AutoNation, Inc.",True
6,d01c9857-0023-4252-acb6-02dfd409159f,NYSE,ANF,Abercrombie & Fitch Co.,True
7,96235c9d-bcd4-4ede-9817-4b5e6a1941bf,NASDAQ,AGFS,"AgroFresh Solutions, Inc. Common Stock",True
...,...,...,...,...,...
10244,3783e13c-cb7b-4618-9869-d0fb60b0c0fc,AMEX,UUU,"Universal Security Instruments, Inc.",False
10245,fd03066c-16d8-4eff-8c72-16ce1c44e38d,NYSE,VALE,VALE S.A.,True
10246,41b54729-8470-4593-be38-b3a681871f81,NASDAQ,AAL,American Airlines Group Inc. Common Stock,False
10247,b0b6dd9d-8b9b-48a9-ba46-b9d54906e415,NASDAQ,AAPL,Apple Inc. Common Stock,True
10248,4ac5cb04-cfdb-4670-9637-662f8d08d9f8,NYSE,BHP,BHP Group Limited American Depositary Shares (...,True

In [ ]:
activos.groupby('exchange').size()

In [ ]:
activos.groupby('shortable').size()

## WatchLists

## CRUD

### Crear listas

In [27]:
def createWatchlist(name, symbols):    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    params = {'name':name, 'symbols':symbols}
    r = requests.post(url = "https://paper-api.alpaca.markets/v2/watchlists", 
                      headers = headers, json=params)
    
    js = r.json()
    df = pd.DataFrame(js['assets'])
    df.set_index('symbol', inplace=True)
    df = df.loc[df.status=='active'].drop(['status','class','easy_to_borrow',
                                          'tradable','marginable'], axis=1)
    return js['id'], df

bancos=['BBAR','BMA','SUPV']
listaID, lista = createWatchlist('bancos_arg', symbols=bancos)

In [28]:
listaID

'2d267591-0424-41ce-9478-23d4c4eb14d5'

In [29]:
lista

,id,exchange,name,shortable
symbol,,,,
BBAR,1094117a-0453-42fa-8bfa-21eedcb6747d,NYSE,Banco BBVA Argentina S.A.,True
BMA,328dd39b-e571-4f85-bc93-387a58c5b61c,NYSE,Banco Macro S.A.,True
SUPV,e01d5a5b-983e-4d66-90b7-407854799f1d,NYSE,Grupo Supervielle S.A.,True

### Ver listas creadas

In [30]:
def watchlist():    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    r = requests.get(url = "https://paper-api.alpaca.markets/v2/watchlists", 
                      headers = headers)

    js = r.json()
    df = pd.DataFrame(js)
    df.drop('account_id',axis=1, inplace=True)
    return df

watchlist()

,id,created_at,updated_at,name
0,2d267591-0424-41ce-9478-23d4c4eb14d5,2020-10-09T17:12:12.196454Z,2020-10-09T17:12:12.196454Z,bancos_arg

In [ ]:
techs=['AAPL','NFLX','MSFT','FB','GOOGL']
createWatchlist('techs', symbols=techs)

In [ ]:
watchlist()

### Obtener watchList xID

In [32]:
def getWatchlist(wID):    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    r = requests.get(url = "https://paper-api.alpaca.markets/v2/watchlists/"+wID, 
                      headers = headers)

    js = r.json()
    df = pd.DataFrame(js['assets'])
    df.set_index('symbol', inplace=True)
    df = df.loc[df.status=='active'].drop(['status','class','easy_to_borrow',
                                          'tradable','marginable'], axis=1)
    
    return df

getWatchlist('2d267591-0424-41ce-9478-23d4c4eb14d5')

,id,exchange,name,shortable
symbol,,,,
BBAR,1094117a-0453-42fa-8bfa-21eedcb6747d,NYSE,Banco BBVA Argentina S.A.,True
BMA,328dd39b-e571-4f85-bc93-387a58c5b61c,NYSE,Banco Macro S.A.,True
SUPV,e01d5a5b-983e-4d66-90b7-407854799f1d,NYSE,Grupo Supervielle S.A.,True

### Borrar watchList xID

In [45]:
def deleteWatchlist(wID):    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    endpoint = "https://paper-api.alpaca.markets/v2/watchlists/"+wID
    r = requests.delete(url = endpoint, headers = headers)
    js = r.text
    return js

In [ ]:
watchlist()

In [ ]:
deleteWatchlist('ddfeb844-2bce-4a63-b66d-c620fd2a664b')

In [ ]:
watchlist()

### Modificar watchList xID (PUT)

In [ ]:
def updateWatchlist(wID, lista):    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    params = {'symbols': lista}
    endpoint = "https://paper-api.alpaca.markets/v2/watchlists/"+wID
    r = requests.put(url = endpoint, headers = headers, json=params)
    
    return r

In [ ]:
getWatchlist('6078ff70-75a7-4d59-8d9e-62cd6cbc666d')

In [ ]:
bancosNuevos = ['SUPV', 'GGAL']
updateWatchlist('6078ff70-75a7-4d59-8d9e-62cd6cbc666d', bancosNuevos)

In [ ]:
getWatchlist('6078ff70-75a7-4d59-8d9e-62cd6cbc666d')

### Agregar Ticker a una watchList existente (POST)

In [ ]:
def addTicker(wID, symbol):    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    params = {'symbol': symbol}
    endpoint = "https://paper-api.alpaca.markets/v2/watchlists/"+wID
    r = requests.post(url = endpoint, headers = headers, json=params)
    js = r.json()
    df = pd.DataFrame(js['assets'])
    df.set_index('symbol', inplace=True)
    df = df.loc[df.status=='active'].drop(['status','class','easy_to_borrow',
                                          'tradable','marginable'], axis=1)
    
    return df

In [ ]:
watchlist()

In [ ]:
getWatchlist('6078ff70-75a7-4d59-8d9e-62cd6cbc666d')

In [ ]:
addTicker('6078ff70-75a7-4d59-8d9e-62cd6cbc666d','AAPL')

# Ejercicios - Screener

Atención, la idea es terminar los 7 ejercicios porque están pensado como un bloque, es decir que todos forman parte de una especie de mini-screener para poder hacer una intro a este tema, aprovechando la funcionalidad de las watchlists de Alpaca podemos armar nuestro primer screener de 9000 activos de USA en 2 minutos via señal de trading predefinida y guardar los resultados como si se tratara de una alerta de trading

1- Partiendo de la función vista en clase para crear una watchList, mejorar la función para que (sin dejar de devolver el id y la lista en caso de estar todo ok), en caso de que se pase un ticker no listado devuelva al usuario el mensaje de error. Verificar su funcionamiento

2- Vamos a empezar a pensar en un potencial screener, para ello vamos a usar el endpoint "assets" para armar una función que me devuelva todos los tickers de la API y luego de ello con esos activos vamos a armar una gran lista con listas de a 200 activos, ya que la API me  permite ver series históricas trayendo de a 200 activos, para verificar el script vamos a imprimir la última lista y su cantidad de activos que debe ser menor de 200 y la cantidad de listas de 200
<br><br>A fines de poder usar este código mas adelante en un screener meter todo el código en una función: listasActivos()

3- Siguiendo en la línea de ir preparando el terreno para llegar a un screener, armar una función que si le paso una lista con listas de tickers me devuelva una lista con strings de tickers separados por comas, es decir:
 * Recibe: [ ['activo1','activo2','activo3'], ['activo4','activo5','activo_nn'] ]
 * Devuelve: [ 'activo1,activo2,activo3', 'activo4,activo5,activo_nn' ]
 
 Probar la función dando como entrada la salida de la función del ejercicio anterior

4- Agregarle lo necesario a prueba de fallos de la funcion getHistory definida en este capítulo para que acepte una lista de activos y me devuelve un diccionario cuyas claves sean las listas del ejercicio anterior y los valores unos dataFrames con el historial

Verificar el funcionamiento correcto de esta función pasándole como argumento la primera lista de 200 activos del ejercicio anterior en un timeframe de 1 minuto de los ultimos 60 dias

5- Seguimos armando el screener de a poco, paso a paso como quien no quiere la cosa los voy a ir llevando, confien en mi...

crear una función que tome de entrada un dataFrame de datos y me devuelva como salida un string que indique sobreCompra o SobreVenta en función de la siguiente lógica:
   * SobreCompra: Si  la media movil rapida (default 50) es + de un x% superior (default 3%) a la media lenta (default 200)
   * SobreVenta: Si  la media movil rapida (default 50) es + de un x% inferior (default 3%) a la media lenta (default 200)

6- Usando las funciones necesarias de los ejercicio anteriores crear un script que tome todos los activos de la API y me cree una watchList llamada "sobreCompra" y otra llamada "SobreVenta" con los activos que obviamente cumplan las condiciones enunciadas para tal configuración en el ejercicio previo

7- Usando las funciones vistas hasta acá armar un script que levante en una variable el ID de la watchList primaria (que es la que queda guardada en el FrontEnd de Alpaca del paper trading) y que agregue uno por uno los activos de la lista de sobrecompra definida en el ejercicio anterior simplemente para ver reflejado el resultado en la pantalla de https://app.alpaca.markets/paper/dashboard/overview el resultado del screener

Para ello los activos o lista de activos de sobrecompra deben ser levantados de la watchlist creada anteriormente llamada con ese nombre

8- Finalmente usando todas las funciones que vios hasta acá definir una función <b>screener_sobreCompra()</b> que simplemente tome como parámetros -fast -slow y -p que son los parámetros de ruedas de las medias móviles y el porcentaje por encima del cruce para disparar señal de sobrecompra, y que me actualice la watchList primaria con los activos que están en el filtro dado

Probar configurando en un 5% el screener con medias de 50 y 200 para testearlo y que den unas pocas acciones de las 9000 listadas e

# Respuestas

In [33]:
import pandas as pd

In [34]:
#========================#
#      Ejercicio 1       #
#========================#


def createWatchlist(name, symbols):    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    params = {'name':name, 'symbols':symbols}
    r = requests.post(url = "https://paper-api.alpaca.markets/v2/watchlists", 
                      headers = headers, json=params)
    
    js = r.json()
    try:
        msg = js['id']
        df = pd.DataFrame(js['assets'])
        df.set_index('symbol', inplace=True)
        df = df.loc[df.status=='active']
        df =df.drop(['status','class','easy_to_borrow','tradable','marginable'],axis=1)
    except:
        df = pd.DataFrame()
        msg = js
    return msg, df

tickers = ['BBAR','BMA','TICKER_LOCO']
createWatchlist('lista_test', symbols = tickers)

({'code': 40010001, 'message': 'asset not found: TICKER_LOCO'},
 Empty DataFrame
 Columns: []
 Index: [])

In [35]:
#========================#
#      Ejercicio 2       #
#========================#


def listasActivos():    
    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    endpoint = "https://paper-api.alpaca.markets/v2/assets"
    r = requests.get(url = endpoint, headers = headers)

    js = r.json()
    
    tickers = [row['symbol'] for row in js if row['status']=='active']
    listas = []
    for i in range(len(tickers)//200 + 1):
        listas.append(tickers[i*200:(i+1)*200])

    return listas

listas = listasActivos()

print('\n Ultima lista:\n',listas[len(listas)-1])
print('\n Cantidad de Ultima lista:',len(listas[len(listas)-1]))
print('\n Cantidad de listas de 200:',len(listas)-1)

 Ultima lista:
 ['MNP', 'NVR', 'PGTI', 'PRLD', 'OTRAU', 'ABG', 'AIC', 'AVNT', 'BDXB', 'CODA', 'DPW', 'ESGU', 'FL', 'GAN', 'GHYB', 'HZNP', 'JW.A', 'LOGC', 'MED', 'NMIH', 'ORAN', 'PNR', 'QID', 'REK', 'SCHD', 'SOVB', 'SPYV', 'SR', 'THC', 'UA', 'UST', 'VVV', 'REGI', 'RING', 'SMIT', 'SPBO', 'SQEW', 'SYKE', 'TRX', 'USRT', 'VNQ', 'W', 'YEXT', 'PAICU', 'STPK', 'EMXF', 'NGA', 'AMD', 'FSLY', 'IBIO', 'MCD', 'DAL', 'DXC', 'HON', 'NOC', 'REGN', 'ROK', 'SNOW', 'SQQQ', 'UAL', 'SGEN', 'IH', 'KRON', 'MPLN', 'IPOE.U', 'PSA-N', 'BFT', 'PXSAP', 'LCYAU', 'AONE', 'BTAQ', 'HYBB', 'FUBO', 'ESTC', 'GDRX', 'KCAC', 'COST', 'DRV', 'FB', 'LUV', 'QQQ', 'RGNX', 'SDOW', 'SPXU', 'TMO', 'VNT', 'SPRB', 'INTZ', 'DCRBU', 'MACUU', 'STTK', 'IPOD.U', 'IPOF.U', 'CLA', 'ADT', 'ATHM', 'A', 'AA', 'CHH', 'C', 'CWI', 'DK', 'FBP', 'ENR', 'EXPR', 'G', 'GGG', 'FE', 'AGR', 'IVZ', 'BOND', 'GE', 'GLD', 'IDEX', 'KODK', 'OGEN', 'SPAQ', 'TSLA', 'UUU', 'VALE', 'AAL', 'AAPL', 'BHP']

 Cantidad de Ultima lista: 123

 Cantidad de listas de 200: 44

In [36]:
#========================#
#      Ejercicio 3       #
#========================#


def sublist_to_string(listas):
    for i in range(len(listas)):
        listas[i] = ','.join(listas[i])
    return listas

listas = sublist_to_string(listasActivos())
listas[0]

'MTZ,SPGI,AN,ANF,AGFS,AIR,ALLY,BDN,BIDU,BSX,BWXT,COTY,CVE,DNN,DWLD,EMN,FMC,FSTR,FUD,FXI,GEF,GHC,GRC,HAS,HPP,IT,LARK,LII,LUB,LUMO,MCO,MET,MGM,MIN,MOG.A,MTC,ORSNU,PHG,QNST,RACE,SCL,STRS,TCO,TDSB,VOYA,VTR,WEX,AACG,AACQ,AADR,AAME,AAOI,AAP,AACQU,AAMC,AAN,AAON,AAT,AAXJ,AB,ABC,ABEO,ABEV,ABM,ABR,ABR-B,ABT,ABUS,ACA,ACAM,ACB,ACC,ACCO,ACER,ACET,ACEVU,ACGLO,ACH,ACHV,ACIA,ACIU,ACLS,ACMR,ACNB,ACND.U,ACP,ACRS,ACSG,ACST,ACTCU,ACU,ACWF,ACWV,ACY,ADBE,AAU,AAWW,AAXN,ABBV,ABCB,ABEQ,ABIO,ABMD,ABR-A,ABR-C,ABTX,AC,ACAD,ACAMU,ACBI,ACCD,ACEL,ACES,ACEV,ACGL,ACGLP,ACHC,ACI,ACIO,ACIW,ACM,ACN,ACND,ACOR,ACRE,ACRX,ACSI,ACT,ACTG,ACV,ACWI,ACWX,ADAP,ADC,ADES,ADI,ADM,ADME,ADMS,ADCT,ADFI,ADIL,ADMA,ADMP,ADNT,ADP,ADRE,ADSK,ADTN,ADUS,ADX,ADXS,AEB,AEF,AEG,AEHR,AEL,AEL-B,AEMD,AEP,AEPPZ,AERI,AESE,AEY,AEZS,AFC,AFGB,AFGD,AFGH,AFI,AFIF,AFINP,AFL,AFMC,AFSM,AFTY,AG,AGBAR,AGCO,AGD,ADPT,ADS,ADSW,ADTX,ADVM,ADXN,AE,AEE,AEFC,AEGN,AEIS,AEL-A,AEM,AEO,AEPPL,AER,AES,AESR,AEYE,AFB'

In [37]:
#========================#
#      Ejercicio 4       #
#========================#


def getHistory(symbol, start, end, timeframe='1D'):    
    start = dt.datetime.strftime(start, format='%Y-%m-%dT%T-04:00')
    end = dt.datetime.strftime(end, format='%Y-%m-%dT%T-04:00')

    headers ={"APCA-API-KEY-ID" : api_key, "APCA-API-SECRET-KEY":secret_key}
    params =  {'symbols' : symbol, 'start':start, 'end':end}
    endpoint = "https://data.alpaca.markets/v1/bars/"+timeframe
    r = requests.get(url = endpoint, headers =headers, params=params)
    js = r.json()
    
    tickers = symbol.split(",")
    dfs = {}
    for ticker in tickers:
        # Bloque por los errores cuando no hay datos
        try:
            dfs[ticker] = pd.DataFrame(js[ticker])
            dfs[ticker].t = pd.to_datetime(dfs[ticker].t, unit='s')
            dfs[ticker].set_index(dfs[ticker].t, inplace=True)
        except:
            pass
    return dfs

import datetime as dt
end =  dt.date.today() + dt.timedelta(days=1)
start = end - dt.timedelta(days=6)

data = getHistory(listas[0], start, end, timeframe='1Min')

In [38]:
len(data)

200

In [39]:
data.keys()

dict_keys(['MTZ', 'SPGI', 'AN', 'ANF', 'AGFS', 'AIR', 'ALLY', 'BDN', 'BIDU', 'BSX', 'BWXT', 'COTY', 'CVE', 'DNN', 'DWLD', 'EMN', 'FMC', 'FSTR', 'FUD', 'FXI', 'GEF', 'GHC', 'GRC', 'HAS', 'HPP', 'IT', 'LARK', 'LII', 'LUB', 'LUMO', 'MCO', 'MET', 'MGM', 'MIN', 'MOG.A', 'MTC', 'ORSNU', 'PHG', 'QNST', 'RACE', 'SCL', 'STRS', 'TCO', 'TDSB', 'VOYA', 'VTR', 'WEX', 'AACG', 'AACQ', 'AADR', 'AAME', 'AAOI', 'AAP', 'AACQU', 'AAMC', 'AAN', 'AAON', 'AAT', 'AAXJ', 'AB', 'ABC', 'ABEO', 'ABEV', 'ABM', 'ABR', 'ABR-B', 'ABT', 'ABUS', 'ACA', 'ACAM', 'ACB', 'ACC', 'ACCO', 'ACER', 'ACET', 'ACEVU', 'ACGLO', 'ACH', 'ACHV', 'ACIA', 'ACIU', 'ACLS', 'ACMR', 'ACNB', 'ACND.U', 'ACP', 'ACRS', 'ACSG', 'ACST', 'ACTCU', 'ACU', 'ACWF', 'ACWV', 'ACY', 'ADBE', 'AAU', 'AAWW', 'AAXN', 'ABBV', 'ABCB', 'ABEQ', 'ABIO', 'ABMD', 'ABR-A', 'ABR-C', 'ABTX', 'AC', 'ACAD', 'ACAMU', 'ACBI', 'ACCD', 'ACEL', 'ACES', 'ACEV', 'ACGL', 'ACGLP', 'ACHC', 'ACI', 'ACIO', 'ACIW', 'ACM', 'ACN', 'ACND', 'ACOR', 'ACRE', 'ACRX', 'ACSI', 'ACT', 'ACTG', 'ACV', 'ACWI', 'ACWX', 'ADAP', 'ADC', 'ADES', 'ADI', 'ADM', 'ADME', 'ADMS', 'ADCT', 'ADFI', 'ADIL', 'ADMA', 'ADMP', 'ADNT', 'ADP', 'ADRE', 'ADSK', 'ADTN', 'ADUS', 'ADX', 'ADXS', 'AEB', 'AEF', 'AEG', 'AEHR', 'AEL', 'AEL-B', 'AEMD', 'AEP', 'AEPPZ', 'AERI', 'AESE', 'AEY', 'AEZS', 'AFC', 'AFGB', 'AFGD', 'AFGH', 'AFI', 'AFIF', 'AFINP', 'AFL', 'AFMC', 'AFSM', 'AFTY', 'AG', 'AGBAR', 'AGCO', 'AGD', 'ADPT', 'ADS', 'ADSW', 'ADTX', 'ADVM', 'ADXN', 'AE', 'AEE', 'AEFC', 'AEGN', 'AEIS', 'AEL-A', 'AEM', 'AEO', 'AEPPL', 'AER', 'AES', 'AESR', 'AEYE', 'AFB'])

In [40]:
data['AGFS'].head()

                                      t      o      h      l      c    v
t
2020-10-05 14:35:00 2020-10-05 14:35:00  2.440  2.440  2.440  2.440  100
2020-10-05 15:02:00 2020-10-05 15:02:00  2.445  2.445  2.445  2.445  100
2020-10-05 15:04:00 2020-10-05 15:04:00  2.455  2.455  2.455  2.455  100
2020-10-05 15:27:00 2020-10-05 15:27:00  2.440  2.440  2.440  2.440  100
2020-10-05 15:43:00 2020-10-05 15:43:00  2.440  2.440  2.440  2.440  100

In [41]:
#========================#
#      Ejercicio 5       #
#========================#


def signal(df, fast=50, slow=200, pi_long=3, ps_long=7, pi_short=-7, ps_short=-3):
    df['sma_f'] = df.c.rolling(fast).mean()
    df['sma_s'] = df.c.rolling(slow).mean()
    df['cruce'] = (df['sma_f']/df['sma_s']-1)*100
    
    alert = ''
    if ( (float(df.iloc[-1:]['cruce']) > pi_short) & (float(df.iloc[-1:]['cruce']) < ps_short) ):
        alert = 'Bajando'
    if (  (float(df.iloc[-1:]['cruce']) > pi_long) & (float(df.iloc[-1:]['cruce']) < ps_long) ):
        alert = 'Subiendo'
        
    return alert

In [42]:
signal(data['AGFS'], fast=50, slow=200, pi_long=3, ps_long=7, pi_short=-7, ps_short=-3)

''

In [49]:
#========================#
#      Ejercicio 6       #
#========================#

# Uso la funcion del ejercicio 3 y 2
# armo las listas de a 200 activos para traer la data lista por lista
listas = sublist_to_string(listasActivos())


import datetime as dt
end =  dt.date.today()  + dt.timedelta(days=1)
start = end - dt.timedelta(days=6)

subiendo = []
bajando = []

for i in range(len(listas)):
    
    # Para ver la evolución ya que tarda unos 2 minutos en correr
    print(i,'..',end='')
    
    # Uso la función del ejercicio 4
    data = getHistory(listas[i], start, end, timeframe='1Min')
    for ticker in data:
        try:
            # Uso la función del ejercicio 5
            s = signal(data[ticker], fast=10, slow=200, pi_long=4, ps_long=6, pi_short=-7, ps_short=-4)
            
            if s=='Subiendo':
                subiendo.append(ticker)
            if s=='Bajando':
                bajando.append(ticker)
        except:
            pass

# Uso la función del ejercicio 1
subiendoL = createWatchlist('Longs', subiendo)
bajandoL = createWatchlist('Shorts', bajando)

print('\n\nLongs ID:',subiendoL[0],'Longs ID:',bajandoL[0])
print('\n\nLongs Cantidad:',len(subiendo),'Shorts Cantidad:',len(bajando))

0 ..1 ..2 ..3 ..4 ..5 ..6 ..7 ..8 ..9 ..10 ..11 ..12 ..13 ..14 ..15 ..16 ..17 ..18 ..19 ..20 ..21 ..22 ..23 ..24 ..25 ..26 ..27 ..28 ..29 ..30 ..31 ..32 ..33 ..34 ..35 ..36 ..37 ..38 ..39 ..40 ..41 ..42 ..43 ..44 ..

Longs ID: e0abfd7c-439c-462f-a1cc-fe29cd82b448 Longs ID: 8c6139f8-4b4f-4c10-a357-e74238d78da0


Longs Cantidad: 82 Shorts Cantidad: 36

In [50]:
watchlist()

,id,created_at,updated_at,name
0,e0abfd7c-439c-462f-a1cc-fe29cd82b448,2020-10-09T17:22:42.856183Z,2020-10-09T17:22:42.856183Z,Longs
1,8c6139f8-4b4f-4c10-a357-e74238d78da0,2020-10-09T17:22:43.594782Z,2020-10-09T17:22:43.594782Z,Shorts
2,2d267591-0424-41ce-9478-23d4c4eb14d5,2020-10-09T17:12:12.196454Z,2020-10-09T17:12:12.196454Z,bancos_arg

In [47]:
deleteWatchlist('')

''

In [51]:
comprar = list(getWatchlist('e0abfd7c-439c-462f-a1cc-fe29cd82b448').index.values)
vender = list(getWatchlist('8c6139f8-4b4f-4c10-a357-e74238d78da0').index.values)

In [52]:
for ticker in comprar:
    try:
        px  = (lastQuote(ticker)['askprice'] + lastQuote(ticker)['bidprice'] ) / 2
        q = ((200000)/len(comprar)) // px
        orden = order(symbol=ticker, qty=q, side='buy', tipo='limit', time_in_force='gtc',limit_price = px )
        print('Buy:', round(px,2), ticker, end=' -- ')
    except:
        print(f'\n\nNo se pudo conseguir precio de {ticker}\n\n')

Buy: 44.58 MTLS -- Buy: 8.04 KIRK -- Buy: 21.85 CHUY -- Buy: 0.21 ENSV -- Buy: 6.89 FOSL -- Buy: 0.47 NCTY -- Buy: 25.47 WKHS -- Buy: 11.85 MTEM -- Buy: 26.88 JOE -- Buy: 7.53 NBSE -- Buy: 2.29 UAVS -- Buy: 4.46 GSS -- Buy: 29.5 AFIB -- Buy: 2.19 PIRS -- Buy: 3.08 TWI -- Buy: 22.17 SPTN -- Buy: 11.61 NS -- Buy: 3.82 ACRS -- Buy: 2.46 OPGN -- Buy: 110.68 ROG -- Buy: 18.02 TBPH -- Buy: 9.44 ELMD -- Buy: 21.21 AMPH -- Buy: 53.45 CDNA -- Buy: 17.88 MAG -- Buy: 2.05 NBEV -- Buy: 0.78 EXPR -- Buy: 14.65 FEAC -- Buy: 12.82 AXGN -- Buy: 26.98 STEP -- Buy: 2.91 HMHC -- Buy: 18.5 NIU -- Buy: 0.25 GTE -- Buy: 14.91 BPYU -- Buy: 1.49 MCF -- Buy: 33.83 AUDC -- Buy: 23.04 ITOS -- Buy: 1.46 WTER -- Buy: 105.75 SLAB -- Buy: 27.39 LL -- Buy: 4.13 EXTR -- Buy: 58.58 EXPI -- Buy: 39.68 VITL -- Buy: 10.66 CLSK -- Buy: 3.83 UBX -- Buy: 7.62 SVM -- Buy: 1.86 ONDK -- Buy: 24.17 FORM -- Buy: 46.58 EGRX -- Buy: 117.53 IBP -- Buy: 18.9 GRBK -- Buy: 14.48 BZH -- Buy: 3.54 SOL -- Buy: 10.23 KODK -- Buy: 8.38 ATRO -- Buy: 5.3 HLIT -- Buy: 4.4 SIEN -- Buy: 36.09 KFRC -- Buy: 19.34 HEAR -- Buy: 36.1 IMVT -- Buy: 13.72 DLTH -- Buy: 13.03 HEP -- Buy: 11.76 AMJ -- Buy: 4.51 CASA -- Buy: 10.71 CNTG -- Buy: 12.64 EQX -- Buy: 23.01 SRI -- Buy: 118.62 XLRN -- Buy: 32.78 EDIT -- Buy: 315.49 MPWR -- Buy: 17.04 HNGR -- Buy: 40.89 VCYT -- Buy: 2.66 AXU -- Buy: 14.48 MAXN -- Buy: 22.38 TSEM -- Buy: 18.06 CMTL -- Buy: 63.49 JKS -- Buy: 4.12 STSA -- Buy: 13.48 SPRO -- Buy: 7.94 CENX -- Buy: 21.73 CELH -- Buy: 13.09 EGAN --

In [53]:
for ticker in vender:
    try:
        px  = (lastQuote(ticker)['askprice'] + lastQuote(ticker)['bidprice'] ) / 2
        q = ((300000)/len(vender)) // px
        orden = order(symbol=ticker, qty=q, side='sell', tipo='limit', time_in_force='gtc',limit_price = px )
        print('Sell:', round(px,2), ticker, end=' -- ')
    except:
        print(f'No se pudo conseguir precio de {ticker}')

Sell: 0.21 LONE -- Sell: 46.69 KIDS -- Sell: 34.47 KOLD -- Sell: 5.69 CARV -- Sell: 10.29 JMIA -- Sell: 0.39 USWS -- Sell: 5.52 MXC -- Sell: 0.33 CHFS -- Sell: 43.74 LUNG -- Sell: 5.72 OVID -- Sell: 31.45 NKTX -- Sell: 9.78 BLNK -- Sell: 4.22 FBIO -- Sell: 7.56 SPI -- Sell: 16.95 AKUS -- Sell: 6.54 NBLX -- Sell: 46.28 LABD -- Sell: 61.39 DRIP -- Sell: 31.16 GBIO -- Sell: 0.98 QEP -- Sell: 44.75 ARCH -- Sell: 7.7 YTEN -- Sell: 26.63 RNA -- Sell: 1.5 WWR -- Sell: 53.27 DCPH -- Sell: 2.45 MVIS -- Sell: 16.09 EDZ -- Sell: 34.5 TCMD -- Sell: 1.84 MDGS -- Sell: 2.8 CVV -- Sell: 0.29 TAT -- Sell: 5.01 QLGN -- Sell: 5.83 NTP -- Sell: 63.04 OTRK -- Sell: 12.77 HGEN -- Sell: 33.94 AMWL --

# Bases de Datos introducción

* claves foraneas
* claves primarias

<img src='imagenes/BBDD.jpeg' width='600'>

Y así sucesivamente se pueden ir creando nuevas entidades que se van relacionando con otras

En este caso vamos a agregar a nuestro modelo de subyacentes y derivados, una entidad de "fondos" que podrian ser FCIs y "clientes" que podrian ser las cuentas de un Alyc

<img src='imagenes/BBDD2.jpeg' width='600'>

# XAMPP

## Configuracion Apache y puerto http

Configuraciones Iniciales, no necesariamente pero si al darrle "start" al Apache aparece un conflicto de puertos, hay que configurar un puerto diferente al 80 que es el default

<img src='imagenes/xampp_1.png' width=750>

<img src='imagenes/xampp_2.png' width=750>

<img src='imagenes/xampp_3.png' width=750>

## Configuracion MySQL y puerto de BBDD

<img src='imagenes/xampp_4.png' width=750>

<img src='imagenes/xampp_5.png' width=750>

## Configuracion general  XAMMP

<img src='imagenes/xampp_6.png' width=800>

<img src='imagenes/xampp_7.png' width='600'>

<img src='imagenes/xampp_8.png'  width='600'>

# Crear Base de datos

<img src='imagenes/xampp_9.png'  width='700'>

# Seteo Motor de BBDD

In [ ]:
from sqlalchemy import create_engine

# Seteo el USER : PASS @ HOST / BBDD_NAME
engine = create_engine('mysql+pymysql://root:@localhost/test')