# Deep Belief Networksâ€Š (DBN)

https://github.com/albertbup/deep-belief-network

Deep Belief Networks is a generative graphical model or class of deep neural network that control of multiple layers of hidden layers with connections between layers but not between units within each of the layer (https://en.wikipedia.org/wiki/Deep_belief_network).

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

# fix_yahoo_finance is used to fetch data 
import fix_yahoo_finance as yf
yf.pdr_override()

In [2]:
# input
symbol = 'AMD'
start = '2014-01-01'
end = '2019-01-01'

# Read data 
dataset = yf.download(symbol,start,end)

# View Columns
dataset.head()

[*********************100%***********************]  1 of 1 downloaded

            Open  High   Low  Close  Adj Close    Volume
Date
2014-01-02  3.85  3.98  3.84   3.95       3.95  20548400
2014-01-03  3.98  4.00  3.88   4.00       4.00  22887200
2014-01-06  4.01  4.18  3.99   4.13       4.13  42398300
2014-01-07  4.19  4.25  4.11   4.18       4.18  42932100
2014-01-08  4.23  4.26  4.14   4.18       4.18  30678700

In [3]:
dataset['Open_Close'] = (dataset['Open'] - dataset['Adj Close'])/dataset['Open']
dataset['High_Low'] = (dataset['High'] - dataset['Low'])/dataset['Low']
dataset['Increase_Decrease'] = np.where(dataset['Volume'].shift(-1) > dataset['Volume'],1,0)
dataset['Buy_Sell_on_Open'] = np.where(dataset['Open'].shift(-1) > dataset['Open'],1,0)
dataset['Buy_Sell'] = np.where(dataset['Adj Close'].shift(-1) > dataset['Adj Close'],1,0)
dataset['Returns'] = dataset['Adj Close'].pct_change()
dataset = dataset.dropna()
dataset.head()

,Open,High,Low,Close,Adj Close,Volume,Open_Close,High_Low,Increase_Decrease,Buy_Sell_on_Open,Buy_Sell,Returns
Date,,,,,,,,,,,,
2014-01-03,3.98,4.00,3.88,4.00,4.00,22887200,-0.005025,0.030928,1,1,1,0.012658
2014-01-06,4.01,4.18,3.99,4.13,4.13,42398300,-0.029925,0.047619,1,1,1,0.032500
2014-01-07,4.19,4.25,4.11,4.18,4.18,42932100,0.002387,0.034063,0,1,0,0.012107
2014-01-08,4.23,4.26,4.14,4.18,4.18,30678700,0.011820,0.028986,0,0,0,0.000000
2014-01-09,4.20,4.23,4.05,4.09,4.09,30667600,0.026190,0.044444,0,0,1,-0.021531

In [4]:
X = np.array(dataset.drop(["Increase_Decrease"], axis=1))

Y = np.array(dataset["Increase_Decrease"])

In [5]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X = ss.fit_transform(X)

In [6]:
import tensorflow as tf

In [7]:
from dbn.tensorflow import SupervisedDBNClassification
# from dbn import SupervisedDBNClassification
from sklearn.model_selection import train_test_split
from sklearn.metrics.classification import accuracy_score

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [9]:
classifier = SupervisedDBNClassification(hidden_layers_structure = [256, 256],learning_rate_rbm=0.05, learning_rate=0.1, n_epochs_rbm=10,
                                        n_iter_backprop=100, batch_size=32, activation_function='relu', dropout_p=0.2)

In [10]:
classifier.fit(X_train, Y_train)

[START] Pre-training step:
>> Epoch 1 finished 	RBM Reconstruction error 6.861141
>> Epoch 2 finished 	RBM Reconstruction error 17.113402
>> Epoch 3 finished 	RBM Reconstruction error 52.335089
>> Epoch 4 finished 	RBM Reconstruction error 210.406320
>> Epoch 5 finished 	RBM Reconstruction error 577.301492
>> Epoch 6 finished 	RBM Reconstruction error 736.563120
>> Epoch 7 finished 	RBM Reconstruction error 1240.883380
>> Epoch 8 finished 	RBM Reconstruction error 1808.350122
>> Epoch 9 finished 	RBM Reconstruction error 2855.419626
>> Epoch 10 finished 	RBM Reconstruction error 3895.758755
>> Epoch 1 finished 	RBM Reconstruction error 956991406080.000000
>> Epoch 2 finished 	RBM Reconstruction error 1497898024960.000000
>> Epoch 3 finished 	RBM Reconstruction error 1896433057792.000000
>> Epoch 4 finished 	RBM Reconstruction error 1299819659264.000000
>> Epoch 5 finished 	RBM Reconstruction error 1867366268928.000000
>> Epoch 6 finished 	RBM Reconstruction error 929195032576.000000
>> Epoch 7 finished 	RBM Reconstruction error 1104877060096.000000
>> Epoch 8 finished 	RBM Reconstruction error 1191598489600.000000
>> Epoch 9 finished 	RBM Reconstruction error 1545590145024.000000
>> Epoch 10 finished 	RBM Reconstruction error 1374151507968.000000
[END] Pre-training step
[START] Fine tuning step:
>> Epoch 0 finished 	ANN training loss 5.333668
>> Epoch 1 finished 	ANN training loss 1.254240
>> Epoch 2 finished 	ANN training loss 1.317385
>> Epoch 3 finished 	ANN training loss 0.858422
>> Epoch 4 finished 	ANN training loss 0.749344
>> Epoch 5 finished 	ANN training loss 0.741322
>> Epoch 6 finished 	ANN training loss 0.697239
>> Epoch 7 finished 	ANN training loss 0.691139
>> Epoch 8 finished 	ANN training loss 0.720673
>> Epoch 9 finished 	ANN training loss 0.692398
>> Epoch 10 finished 	ANN training loss 0.715084
>> Epoch 11 finished 	ANN training loss 0.691636
>> Epoch 12 finished 	ANN training loss 0.712471
>> Epoch 13 finished 	ANN training loss 0.744129
>> Epoch 14 finished 	ANN training loss 0.706857
>> Epoch 15 finished 	ANN training loss 0.695768
>> Epoch 16 finished 	ANN training loss 0.692531
>> Epoch 17 finished 	ANN training loss 0.706742
>> Epoch 18 finished 	ANN training loss 0.743331
>> Epoch 19 finished 	ANN training loss 0.692233
>> Epoch 20 finished 	ANN training loss 0.690345
>> Epoch 21 finished 	ANN training loss 0.698213
>> Epoch 22 finished 	ANN training loss 0.706204
>> Epoch 23 finished 	ANN training loss 0.706881
>> Epoch 24 finished 	ANN training loss 0.706705
>> Epoch 25 finished 	ANN training loss 0.714912
>> Epoch 26 finished 	ANN training loss 0.694465
>> Epoch 27 finished 	ANN training loss 0.690673
>> Epoch 28 finished 	ANN training loss 0.690362
>> Epoch 29 finished 	ANN training loss 0.696512
>> Epoch 30 finished 	ANN training loss 0.692119
>> Epoch 31 finished 	ANN training loss 0.692218
>> Epoch 32 finished 	ANN training loss 0.691557
>> Epoch 33 finished 	ANN training loss 0.710466
>> Epoch 34 finished 	ANN training loss 0.688514
>> Epoch 35 finished 	ANN training loss 0.696440
>> Epoch 36 finished 	ANN training loss 0.701672
>> Epoch 37 finished 	ANN training loss 0.693576
>> Epoch 38 finished 	ANN training loss 0.691584
>> Epoch 39 finished 	ANN training loss 0.720534
>> Epoch 40 finished 	ANN training loss 0.696276
>> Epoch 41 finished 	ANN training loss 0.689714
>> Epoch 42 finished 	ANN training loss 0.775649
>> Epoch 43 finished 	ANN training loss 0.707422
>> Epoch 44 finished 	ANN training loss 0.689223
>> Epoch 45 finished 	ANN training loss 0.691341
>> Epoch 46 finished 	ANN training loss 0.687920
>> Epoch 47 finished 	ANN training loss 0.689200
>> Epoch 48 finished 	ANN training loss 0.698444
>> Epoch 49 finished 	ANN training loss 0.697904
>> Epoch 50 finished 	ANN training loss 0.704050
>> Epoch 51 finished 	ANN training loss 0.693346
>> Epoch 52 finished 	ANN training loss 0.687985
>> Epoch 53 finished 	ANN training loss 0.694638
>> Epoch 54 finished 	ANN training loss 0.690220
>> Epoch 55 finished 	ANN training loss 0.693224
>> Epoch 56 finished 	ANN training loss 0.711879
>> Epoch 57 finished 	ANN training loss 0.692466
>> Epoch 58 finished 	ANN training loss 0.689668
>> Epoch 59 finished 	ANN training loss 0.689271
>> Epoch 60 finished 	ANN training loss 0.691861
>> Epoch 61 finished 	ANN training loss 0.698780
>> Epoch 62 finished 	ANN training loss 0.691894
>> Epoch 63 finished 	ANN training loss 0.691794
>> Epoch 64 finished 	ANN training loss 0.688251
>> Epoch 65 finished 	ANN training loss 0.688358
>> Epoch 66 finished 	ANN training loss 0.763577
>> Epoch 67 finished 	ANN training loss 0.689131
>> Epoch 68 finished 	ANN training loss 0.690760
>> Epoch 69 finished 	ANN training loss 0.695010
>> Epoch 70 finished 	ANN training loss 0.688982
>> Epoch 71 finished 	ANN training loss 0.696382
>> Epoch 72 finished 	ANN training loss 0.690119
>> Epoch 73 finished 	ANN training loss 0.690655
>> Epoch 74 finished 	ANN training loss 0.689221
>> Epoch 75 finished 	ANN training loss 0.689877
>> Epoch 76 finished 	ANN training loss 0.687909
>> Epoch 77 finished 	ANN training loss 0.688399
>> Epoch 78 finished 	ANN training loss 0.705120
>> Epoch 79 finished 	ANN training loss 0.689905
>> Epoch 80 finished 	ANN training loss 0.693611
>> Epoch 81 finished 	ANN training loss 0.687091
>> Epoch 82 finished 	ANN training loss 0.707181
>> Epoch 83 finished 	ANN training loss 0.690539
>> Epoch 84 finished 	ANN training loss 0.694665
>> Epoch 85 finished 	ANN training loss 0.691729
>> Epoch 86 finished 	ANN training loss 0.687439
>> Epoch 87 finished 	ANN training loss 0.689951
>> Epoch 88 finished 	ANN training loss 0.691619
>> Epoch 89 finished 	ANN training loss 0.687544
>> Epoch 90 finished 	ANN training loss 0.687697
>> Epoch 91 finished 	ANN training loss 0.686742
>> Epoch 92 finished 	ANN training loss 0.689141
>> Epoch 93 finished 	ANN training loss 0.689689
>> Epoch 94 finished 	ANN training loss 0.701144
>> Epoch 95 finished 	ANN training loss 0.692167
>> Epoch 96 finished 	ANN training loss 0.689044
>> Epoch 97 finished 	ANN training loss 0.690335
>> Epoch 98 finished 	ANN training loss 0.689155
>> Epoch 99 finished 	ANN training loss 0.692233
[END] Fine tuning step

SupervisedDBNClassification(batch_size=32, dropout_p=0.2,
              idx_to_label_map={0: 0, 1: 1}, l2_regularization=1.0,
              label_to_idx_map={0: 0, 1: 1}, learning_rate=0.1,
              n_iter_backprop=100, verbose=True)

In [11]:
Y_pred = classifier.predict(X_test)
print('Done.\nAccuracy: %f' % accuracy_score(Y_test, Y_pred))

Done.
Accuracy: 0.519841