# Principal Component Classification

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

# yfinance is used to fetch data 
import yfinance as yf
yf.pdr_override()

In [2]:
# input
symbol = 'AMD'
start = '2014-01-01'
end = '2019-01-01'

# Read data 
dataset = yf.download(symbol,start,end)

# View Columns
dataset.head()

[*********************100%***********************]  1 of 1 completed

            Adj Close  Close  High   Low  Open    Volume
Date
2014-01-02       3.95   3.95  3.98  3.84  3.85  20548400
2014-01-03       4.00   4.00  4.00  3.88  3.98  22887200
2014-01-06       4.13   4.13  4.18  3.99  4.01  42398300
2014-01-07       4.18   4.18  4.25  4.11  4.19  42932100
2014-01-08       4.18   4.18  4.26  4.14  4.23  30678700

In [3]:
dataset['Open_Close'] = (dataset['Open'] - dataset['Adj Close'])/dataset['Open']
dataset['High_Low'] = (dataset['High'] - dataset['Low'])/dataset['Low']
dataset['Increase_Decrease'] = np.where(dataset['Volume'].shift(-1) > dataset['Volume'],1,0)
dataset['Buy_Sell_on_Open'] = np.where(dataset['Open'].shift(-1) > dataset['Open'],1,0)
dataset['Buy_Sell'] = np.where(dataset['Adj Close'].shift(-1) > dataset['Adj Close'],1,0)
dataset['Returns'] = dataset['Adj Close'].pct_change()
dataset = dataset.dropna()
dataset.head()

,Adj Close,Close,High,Low,Open,Volume,Open_Close,High_Low,Increase_Decrease,Buy_Sell_on_Open,Buy_Sell,Returns
Date,,,,,,,,,,,,
2014-01-03,4.00,4.00,4.00,3.88,3.98,22887200,-0.005025,0.030928,1,1,1,0.012658
2014-01-06,4.13,4.13,4.18,3.99,4.01,42398300,-0.029925,0.047619,1,1,1,0.032500
2014-01-07,4.18,4.18,4.25,4.11,4.19,42932100,0.002387,0.034063,0,1,0,0.012106
2014-01-08,4.18,4.18,4.26,4.14,4.23,30678700,0.011820,0.028986,0,0,0,0.000000
2014-01-09,4.09,4.09,4.23,4.05,4.20,30667600,0.026190,0.044444,0,0,1,-0.021531

In [4]:
X = dataset[['Open', 'High', 'Low', 'Volume', 'Adj Close','Returns']].values
Y = dataset['Buy_Sell'].values

In [5]:
print(X.shape)
print(Y.shape)

(1257, 6)
(1257,)

In [6]:
X = np.array(X).reshape(1257,-1)
Y = np.array(Y).reshape(1257,-1)

In [7]:
from sklearn.decomposition import PCA

In [8]:
pca = PCA(n_components=1)
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=1, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [9]:
print(pca.explained_variance_ratio_)

[1.]

In [10]:
print(pca.singular_values_)

[1.4491462e+09]

In [11]:
pca = PCA(n_components=1, svd_solver='full')
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=1, random_state=None,
  svd_solver='full', tol=0.0, whiten=False)

In [12]:
print(pca.explained_variance_ratio_)

[1.]

In [13]:
print(pca.singular_values_)

[1.4491462e+09]

In [14]:
pca.score(X, y=None)

-32.70450153802638